.Card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid black;
  margin: 0.25em;
  width: calc(100%/5 - 0.65em);
}

.CardContentWrapper {
  padding: 0 0.5em;
}

.CardContentText {
  font-size: 14px;
}